{% extends 'blog/base.html' %}

{% block description %}Blog by Alex Ryner{% endblock%}
{% block title %}Blog Home{% endblock %}

{% block header %}Alex's blog{% endblock %}
{% block subheader %}Posts about programing{% endblock %}

{% block content %}
{% for post in posts %}
  <div class="blog-post">
    <h2 class="blog-post-title">
      <a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a>
    </h2>
    <p class="blog-post-meta">
      {{ post.date }}
      <br>By 
      <a href="{% url 'home' %}">Alex Ryner</a><br>
    </p>
      {{ post.content | safe | slice:":500" }}
    <p>
      <a href="{% url 'blog:post' post.slug %}">... continue reading</a>
    </p>
  </div>
{% endfor %}
{% endblock %}

