{% extends 'blog/base.html' %}

{% block description %}Blog by Alex Ryner{% endblock%}
{% block title %}{{ post.title }}{% endblock %}

{% block header %}{% endblock %}
{% block subheader %}{% endblock %}

{% block content %}
  <div class="blog-post">
    <h2 class="blog-post-title">
    {% if post.title_link != '-' %}
      <a href="{{ post.title_link }}">
        {{ post.title }}
      </a>
    {% else %}
      {{ post.title }}
    {% endif %}
    </h2>
    <p class="blog-post-meta">
      {{ post.date }}
      <br>By 
      <a href="{% url 'home' %}">Alex Ryner</a><br>
      Meetup at 
      <a href="{{ location.link }}">
        {{ location.name }}
      </a><br>
      Presented by
      {% for speaker in speakers %}
        <a href='{{ speaker.link }}'>
          {{ speaker.name }}
        </a><br>
      {% endfor %}
    </p>
    {{ post.content | safe }}

    <hr>
    {% if user.is_authenticated %}
      <form method='post' action='{% url "blog:comment" %}'>
        {% csrf_token %}
        <h4>Add your thoughts</h4>
        <textarea name='comment' style='width:100%;height:200px'></textarea>
        <input type='hidden' name='parent' value='-1'>
        <input type='hidden' name='post_slug' value='{{ post.slug }}'>
        <input type='submit' value='Post Comment' class='btn btn-primary'>
      </form>
    {% else %}
      <h4>
        <a href="{% url 'auth_login' %}">Login</a> 
        or <a href="{% url 'registration_register' %}">Register</a> 
        to comment
      </h4>
    {% endif %}
    <hr>
    <h2>Comments</h2>
    <hr>
    {% for comment in comments %}
      <h4 class='commenter'>{{ comment.user.username }}:</h4>
      <p class='comment'>{{ comment.content }}</p>
      <hr>
    {% endfor %}
  </div>
{% endblock %}

