{% load blog_reply %}
<div class='reply'>
  {% for reply in replies %}
    <p class='commenter'>
      <span class='date'>{{ reply.dateTime }}</span><br>
      {{ reply.user.username }}:
    </p>
    <div class='comment'>{{ reply.content }}</div>
    {% if logged_in %}
      <form method='post' action='{% url "blog:comment" %}'>
        {% csrf_token %}
        <h5>Reply</h5>
        <textarea name='comment' style='width:100%;height:35px;'></textarea>
        <input type='hidden' name='parent' value='{{ reply.id }}'>
        <input type='hidden' name='post_slug' value='{{ post_slug }}'>
        <input type='submit' value='Reply' class='btn btn-primary'>
      </form>
    {% endif %}
    {% show_replies reply logged_in post_slug %}
  {% endfor %}
</div>
