{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block header %}About Alex{% endblock %}
{% block subheader %}Software engineer{% endblock %}
{% block content %}
  <div class='media'>
    <div class='media-left media-middle'>
      <img class='media-object img-circle' src="{% static 'images/headshot.jpg' %}">
    </div>
    <div class='media-body'>
      <p>
I started out as math major but towards the end of my bachelor's degree I discovered that I love programing.  Too late to switch majors, computer science became my minor and I set out to learn all that I can.  After graduating I spent about a year and a half working for Proctor at UCSF.  There I developed some Java web apps, and android application and had a minor role in a computer vision project.  Now I'm eager to move on to a new group where I can continue to become a better software engineer.
      </p>
    </div>
  </div>
{% endblock %}

