.commenter {
  font-weight: bold;
}

.date {
  font-weight: lighter;
  font-size: small;
  font-color: #ccc;
}

.comment {
  margin: 10px 40px 10px 40px;
  font-size: 0.9em;
}

.reply {
  margin: 10px 40px 10px 40px;
}

.published {
  color: green;
  list-style-type: none;
}
.unpublished {
  color: #999900;
  list-style-type: none;
}
